/* Colors used on this page */
:root {
  --banner-bg-color: #31343d;
  --inner-bg-color: #82cccd;
  --text-color: #445876;
  --page-bg-color: #ededf6;
}

/* Universal selector */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* body element format, defaults */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--page-bg-color);
}

/* Header bar */
header {
  background-color: var(--banner-bg-color);
  height: 90px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Header bar title */
header h1 {
  display: absolute;
  height: 40px;
  font-size: 30px;
  color: var(--banner-bg-color);
  background-color: var(--inner-bg-color);
  padding: 5px 5px 5px 50px;
  margin-top: 25px;
}

/* Header bar photo of me */
header img {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
}

/* Header bar nav section */
header nav {
  font-size: 20px;
  background-color: var(--banner-bg-color);
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

/* Set nav bar style */
header nav ul {
  list-style-type: none;
}

/* Each nav bar item */
header nav ul li {
  display: inline-block;
  padding: 10px 20px 0px 5px;
}

/* Header nav bar anchor tag format */
header nav ul li a {
  color: var(--inner-bg-color);
  text-decoration: none;
  border-bottom: 3px solid var(--inner-bg-color);
  padding: 5px 5px;
}

/* Cute banner */
#banner {
  height: 200px;
  width: 100%;
  position: relative;
}

#banner img {
  width:100%;
  height: 200px;
  object-position: center;
  object-fit: cover;
}

/* Overlay title of page on banner */
#banner-title {
  position: absolute;
  font-size: 30px;
  font-weight:bold;
  background-color: var(--inner-bg-color);
  color: var(--banner-bg-color);
  top: 140px;
  right: 50px;
  padding: 5px;
}

/* Three section class tags */
.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top:20px;
}

/* Three section id tags */
#aboutMe, #myWork, #contactMe {
  width: 20%;
  height: 100%;
  display: inline-block;
}

/* Three section id tags, format their title identically */
#aboutMe .sectionTitle,
#myWork .sectionTitle,
#contactMe .sectionTitle {
  height: 100%;
  color: --var(--text-color);
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

/* Section 1 About Me can be one or more paragraphs
  Intended to be alongside and to the right of the title */
#aboutMeText {
  width: 70%;
  display: inline-block;
}

/* Neat divider */
#aboutMeText article {
  border-left: 3px solid var(--text-color);
}

/* About Me content format */
#aboutMeText article p {
  padding: 0px 10px 10px 10px;
  color: var(--text-color);
}

/* Section 2: My Work (projects)
  articles id tag is the container for each article element (project) */
#articles {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-left: 3px solid var(--text-color);
}

/* Disable anchor tag color changes */
#articles a:visited,
#articles a {
  color: inherit;
}

/* Each project is an article element */
#articles article {
  border: 3px solid var(--inner-bg-color);
  position: relative;
  display:flex;
  margin: 5px;
}

/* Each article is filled with a background image */
#articles article img {
  width:100%;
  object-position: center;
  object-fit: cover;
}

/* Shade class, shades each article/project */
.shade {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
}

/* On mouse hover, removes the shade, brightens it */
.shade:hover {
  background: rgba(0,0,0,0);
}

/* Container for text overlay on each article/project */
#articles .cardText {
  position: absolute;
  height: 70px;
  width: 375px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  left: 0px;
  bottom: 30px;
  padding: 5px;
  background-color: var(--inner-bg-color);
}

/* Title of project */
#articles h3 {
  font-size: 30px;
  background-color: --var(--inner-bg-color);
}

/* Description of project */
#articles p {
  font-size: 20px;
  left: 0px;
  bottom: 10px
}

/* Class for the first article/project, make BIG */
.big {
  height: 400px;
  width: 810px;
  min-width: 600px;
  overflow: hidden;
}

/* All other article/project sizes */
.regular {
  height: 200px;
  width: 400px;
  min-width: 400px;
  overflow: hidden;
}

/* Section 3: Contact Me */
/* Nav bar within the Contact Me section */
#contactMeNav {
  float: right;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  border-left: 3px solid var(--text-color);
}

/* Remove default formatting for ul */
#contactMeNav ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 5px;
  margin-top: 20px;
}

/* Format each item */
#contactMeNav ul li {
  display: inline-block;
  padding: 10px 20px 0px 5px;
}

/* Format Contact Me nav bar anchor tags */
#contactMeNav ul li a {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 3px solid var(--banner-bg-color);
  padding: 5px 5px;
}

/* Add a bit of space at the bottom of the page */
footer {
  height: 40px;
}

/* Format for narrow screen sizes */
@media only screen and (max-width: 940px) {
  /* Increase header height to format contents in a column */
  header {
    height: 280px;
  }

}

@media only screen and (max-width: 768px) {

  /* Increase header height to format contents in a column */
  header {
    height: 280px;
  }

  /* Remove margin-top since we don't need it in column form */
  header nav {
    margin-top: 0px;
  }

  /* Section titles will format in column so 100% is fine */
  #aboutMe, #myWork, #contactMe {
    width: 100%;
  }

  /* Switch right align to left and add padding */
  #aboutMe .sectionTitle,
  #myWork .sectionTitle,
  #contactMe .sectionTitle {
    text-align: left;
    padding-left: 5px;
  }

  /* Change flex-direction from row to column */
  .section {
    flex-direction: column;
  }

  /* Similar to section titles, change width to 100% to take up the whole column */
  #aboutMeText {
    width: 100%;
    padding: 5px;
  }

  /* Switch the vertical line between section title and content area to a horizontal line */
  #aboutMeText article, #articles, #contactMeNav {
    border-left: 0px;
    border-top: 3px solid var(--text-color);
  }

  /* Make the content of About Me more readable */
  #aboutMeText article p {
    padding: 10px 0px;
  }

  /* Switch eah article/project to 100% width */
  #articles {
    width: 100%;
  }

  /* In this narrow view, switch the first project to be the same size as all the others */
  .big {
    width: 400px;
    height: 200px;
    min-width: 400px;
  }
}